In [9]:
import pandas as pd
arr = ['a', 'b', 'c', 'd', 'e']
s1 = pd.Series(arr)
print(s1)

0    a
1    b
2    c
3    d
4    e
dtype: object

In [7]:
type(s1)

pandas.core.series.Series

In [10]:
s1[1], s1[2]

('b', 'c')

In [13]:
ind = [1,5,3,3,4]
s2 = pd.Series(arr, index = ind)
s2

1    a
5    b
3    c
3    d
4    e
dtype: object

In [14]:
s2[3]

3    c
3    d
dtype: object

In [23]:
s3 = pd.Series(['Pineapple', 'Pear', 'Apple', 'Banana'], index = ['P', 'P', 'A', 'B'])
# print(s3)
print(s3[0:3])
print(s3['P': 'B'])

P    Pineapple
P         Pear
A        Apple
dtype: object
P    Pineapple
P         Pear
A        Apple
B       Banana
dtype: object

In [24]:
s3.index

Index(['P', 'P', 'A', 'B'], dtype='object')

In [32]:
print(s3[s3=='Apple'].index[0])

Index(['A'], dtype='object')

In [35]:
s4 = s1.append(s2)
s4

0    a
1    b
2    c
3    d
4    e
1    a
5    b
3    c
3    d
4    e
dtype: object

In [37]:
import numpy as np
s4.index = np.arange(10)
s4

0    a
1    b
2    c
3    d
4    e
5    a
6    b
7    c
8    d
9    e
dtype: object

In [40]:
s5 = pd.Series([10,20,30,40,50], index = ["India", "Pakistan", "China", "Bangladesh", "Shrilanka"])
s6 = pd.Series([100,200,300,400,500], index = [ "Pakistan", "India", "China", "Bangladesh", "Nepal"])
s5+s6

Bangladesh    440.0
China         330.0
India         210.0
Nepal           NaN
Pakistan      120.0
Shrilanka       NaN
dtype: float64

In [45]:
print("Median", s5.median())

Median 30.0