In [ ]:
x = ('a','b','c')
print(x)

In [3]:
var = "a"
var2 = 'a'
print(type(var))
print(type(var2))
if var == var2:
    print("hello")

<class 'str'>
<class 'str'>
hello

In [4]:
a = int(input("Enter the value of a: "))

Enter the value of a: 5531

In [5]:
print(a)

5531

In [6]:
str1 = "python is a type of snake!!"
print(str1)
print(str1[0])
print(str1[6])
print(str1[7])
print("hello")
print(str1[:])
print(str1[2:10])
print(str1[2:])
ab = "python" in str1
print(ab)
print(str1[2:100])

python is a type of snake!!
p

i
hello
python is a type of snake!!
thon is
thon is a type of snake!!
True
thon is a type of snake!!

In [7]:
str1[0] = 'a'

TypeError: 'str' object does not support item assignment

In [ ]:
del str1[1]

In [ ]:
print(str1)
del str1
print(str1)

In [ ]:
print("\\")
print("\'")      
print("\a")

In [ ]:
print("AB" + "\b" + "b")

In [ ]:
print("\fhello\fworld")

In [ ]:
print("hello\nworld")

In [ ]:
print("hello" + "\f" + "world")
print("world"f"hello")

In [ ]:
print(u"\N{DAGGER}")
print("123456\r")

In [ ]:
print("\u041b")

In [ ]:
print("\O8")

In [ ]:
print("\010")
print("\08")
print("\O8")
print("\o8")

In [ ]:
st = "{} {} {}".format('Python', 'Program', 'Anaconda')
print("print string in default order")
print(st)
st = "{1} {0} {2}".format('python', 'program', 'Anaconda')
print(st)

In [ ]:
st = "{a} {e} {c}".format(a = "Python", e = "Program", c = "Anaconda")
print(st)

In [ ]:
st = "{e} {e} {c}".format(a = "Python", e = "Program", c = "Anaconda")
print(st)

In [12]:
li = [1,2,3,"abcd",1.3432]
print(li)

[1, 2, 3, 'abcd', 1.3432]

In [13]:
li[0:4]

[1, 2, 3, 'abcd']

In [14]:
print(li*2)
s = [3,2,1]
print(s+li)

[1, 2, 3, 'abcd', 1.3432, 1, 2, 3, 'abcd', 1.3432]
[3, 2, 1, 1, 2, 3, 'abcd', 1.3432]

In [15]:
str = input("Enter any sequence : ")

Enter any sequence : 342431

In [16]:
l = str.split("1")

In [17]:
print(l)

['34243', '']

In [18]:
num = int(input("Enter a number"))
print(num,"dhahfkdas", sep = '.')
print(num,".dhahfkdas")

Enter a number3241423
3241423.dhahfkdas
3241423 .dhahfkdas

In [23]:
l = [2,3,"AD"]
tp = ("abck",l, 3.3214)
print(tp,l)

('abck', [2, 3, 'AD'], 3.3214) [2, 3, 'AD']

In [25]:
print(tp[1])

[2, 3, 'AD']

In [26]:
print(tp[1][1])

3

In [35]:
tpp = ([1,2,3], [4,5,6], [7,8,9])
print(tpp[1:2][0][1])

5

In [36]:
tpp[1] = [32]

TypeError: 'tuple' object does not support item assignment

In [37]:
l = [23,3241,43,24324,342,4,123,2]
l[2] = 0
print(l)

[23, 3241, 0, 24324, 342, 4, 123, 2]

In [39]:
dict = {}
print(dict)
dict['one'] = "this i spython"
print(dict)
dict[2] = "this is java"
print(dict)

{}
{'one': 'this i spython'}
{'one': 'this i spython', 2: 'this is java'}

In [40]:
print(dict[0])

KeyError: 0

In [41]:
dict[0] = [37418,3241,324,2]

In [42]:
print(dict)

{'one': 'this i spython', 2: 'this is java', 0: [37418, 3241, 324, 2]}

In [43]:
from platform import python_version

print(python_version())

3.8.8

In [48]:
from sortedcontainers import SortedDict

dict = {1:"hello", 2:"world", 3:"how", 5:"you", 4:"are"}
s = SortedDict(dict)
print(dict)
print(s)

{1: 'hello', 2: 'world', 3: 'how', 5: 'you', 4: 'are'}
SortedDict({1: 'hello', 2: 'world', 3: 'how', 4: 'are', 5: 'you'})

In [49]:
dict.sort()
print(dict)

AttributeError: 'dict' object has no attribute 'sort'

In [50]:
li = [23,342,11324,3241,431]
li.sort()
print(li)

[23, 342, 431, 3241, 11324]

In [55]:
count = 9
while(count):
    print("value of count is : ", count,sep = "")
    count -= 1
print("hello world")

value of count is : 9
value of count is : 8
value of count is : 7
value of count is : 6
value of count is : 5
value of count is : 4
value of count is : 3
value of count is : 2
value of count is : 1
hello world

In [59]:
count = 0
while(count < 10):
    print("count is :", count)
    count += 1
else: 
    print("count is not less than 10")
print("done!")

count is : 0
count is : 1
count is : 2
count is : 3
count is : 4
count is : 5
count is : 6
count is : 7
count is : 8
count is : 9
count is not less than 10
done!

In [63]:
for letter in 'Python':
    print(letter)
print("done!")

P
y
t
h
o
n
done!

In [64]:
fruits = ['a', 'b', 'c', 'm']
for fruit in fruits:
    print(fruit)
print("done")

a
b
c
m
done

In [71]:
fruitss = [1, 2, fruits, "hello",2, "hello", (1,2,3), [1,2,3],(1,2,3), [1,2,3] ,33421, "hello"]
for f in fruitss:
    print(f)
    print(type(f))
    print(id(f))
    print("\n")
print("done!")

1
<class 'int'>
140704430892848


2
<class 'int'>
140704430892880


['a', 'b', 'c', 'm']
<class 'list'>
2006650456192


hello
<class 'str'>
2006650399216


2
<class 'int'>
140704430892880


hello
<class 'str'>
2006650399216


(1, 2, 3)
<class 'tuple'>
2006650534144


[1, 2, 3]
<class 'list'>
2006649440768


(1, 2, 3)
<class 'tuple'>
2006650534144


[1, 2, 3]
<class 'list'>
2006650964416


33421
<class 'int'>
2006650511312


hello
<class 'str'>
2006650399216


done!

In [79]:
for num in range(10,20):
    for i in range(2,num):
        if num%i == 0:
            j = num/i
            print("%d equals %d * %d" % (num,i,j))
            break
    else:
        print(num, 'is a prime number')

10 equals 2 * 5
11 is a prime number
12 equals 2 * 6
13 is a prime number
14 equals 2 * 7
15 equals 3 * 5
16 equals 2 * 8
17 is a prime number
18 equals 2 * 9
19 is a prime number

In [80]:
name = "universe"
dict2 = {1:"hello", 3:"world"}
print(len(name))
li = [2,34,24]
print(len(dict2))
print(len(li))

8
2
3

In [83]:
print(name[-7:-4])

niv

In [86]:
li = [2,3324,134,1,43,243,1243,2,12433421,43,2,432,143,1]
print(li)
li.remove(2)
print(li)

[2, 3324, 134, 1, 43, 243, 1243, 2, 12433421, 43, 2, 432, 143, 1]
[3324, 134, 1, 43, 243, 1243, 2, 12433421, 43, 2, 432, 143, 1]

In [99]:
li2 = ["one", "two", "one", "one"]
print(li2)
flag = True
while(flag):
    if "one" in li2:
        li2.remove("one")
    else:
        flag = False
print(li2)

['one', 'two', 'one', 'one']
['two']

In [89]:
from math import pi
pi

3.141592653589793

In [102]:
def add(x,y):
    return x+y
def sub(x,y):
    return x-y

x = int(input("enter x : "))
y = int(input("enter y : "))
a = int(input("enter number for op : "))
if(a == 1):
    print(add(x,y))
elif (a == 2):
    print(sub(x,y))

enter x : 32
enter y : 23
enter number for op : 2
9

In [103]:
pip install keras

Requirement already satisfied: keras in c:\anaconda3\lib\site-packages (2.8.0)

[notice] A new release of pip available: 22.1.2 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [104]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\anaconda3\lib\site-packages (22.1.2)
Collecting pip
  Downloading pip-23.0.1-py3-none-any.whl (2.1 MB)
     ---------------------------------------- 2.1/2.1 MB 162.2 kB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 22.1.2
    Uninstalling pip-22.1.2:
      Successfully uninstalled pip-22.1.2
Successfully installed pip-23.0.1
Note: you may need to restart the kernel to use updated packages.